.header {
  height: 80px;
  line-height: 80px;
}

.logo img {
  width: 120px;
  height: 30px;
}
.nav-dropdown:hover{
  background-color: var(--secondary-color) !important; 
}
.logo{
  width: auto;
  height:30px;
}
.user-img{
  width: auto;
  height: 30px;
}
.user-nav{
  display:flex;
  flex-direction: row-reverse;
  border: 2px solid red;
}
.user-name {
  margin-left: 8px;
}

.nav__item {
  margin-right: 15px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.nav-link {
  margin-right: 12px;
}

.nav__link:hover {
  color: #ccc;
}

.active__link {
  color: #ccc;
}

.mobile__menu {
  font-size: 1.3rem;
  color: #fff;
  display: none;
}

.sticky__header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Dropdown button */
.navbar-nav .nav-link.nav-dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Dropdown items */
.navbar-nav .nav-link.nav-dropdown-toggle + .dropdown-menu {
  background-color: #fff; /* Background color */
  border: none; /* Remove border */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Dropdown item styling */
.navbar-nav .nav-link.nav-dropdown-toggle + .dropdown-menu .dropdown-item {
  color: #333; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Hover effect on dropdown items */
.navbar-nav .nav-link.nav-dropdown-toggle + .dropdown-menu .dropdown-item:hover {
  background-color: #f0f0f0; /* Background color on hover */
  color: #333; /* Text color on hover */
}

/* Styling for the divider line */
.navbar-nav .nav-link.nav-dropdown-toggle + .dropdown-menu .dropdown-divider {
  border-top: 1px solid #ccc; /* Divider line color */
}

/* Styling for the logout button */
.navbar-nav .nav-link.nav-dropdown-toggle + .dropdown-menu .logout-button {
  background-color: #e74c3c; /* Background color for the logout button */
  color: #fff; /* Text color for the logout button */
}

/* Hover effect on the logout button */
.navbar-nav .nav-link.nav-dropdown-toggle + .dropdown-menu .logout-button:hover {
  background-color: #c44131; /* Background color on hover */
}


/* Responsive Styles */
@media only screen and (max-width: 992px) {
  .logo img {
    width: 100px;
    height: 30px;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .nav__item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .mobile__menu {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .logo img {
    width: 80px;
    height: 25px;
  }
}
