.custom-header {
  color: #4b6584;
  font-size: 2.5rem;
}

.custom-link {
  color: #3f51b5;
  font-weight: bold;
  text-decoration: none;
}

.custom-link:hover {
  color: #1a237e;
}
.pagination-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  margin: 0.25rem;
  font-size: 1rem;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  margin: 0.25rem;
  border-radius: 50%;
  font-size: 1rem;
}
